*.class

*.iml
*.project
*.classpath
*.txt
*.xml
.idea
.settings

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!lib/jade.jar
!lib/joda-time-2.5.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/log
